{% extends "parent.html" %}
{% block content %}

    <h1>Kontakt</h1>
    <p> <strong>Email</strong> moj@email.com</p>
    <p> <strong>Telefon</strong> +48987654321</p>
    <a href="index.html">Przeczytaj o mnie</a>
    <h3>Wyślij wiadomość</h3>
    <form>
        <textarea autofocus placeholder="Napisz do mnie"></textarea>
        <input type="submit"/>
    </form>


        <h1>O mnie</h1>
        <p> <strong>Imię</strong> Muhammad</p>
        <p> <strong>Imię</strong> Ali</p>
        <a href="contact.html">Napisz do mnie</a>

{% endblock %}