<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>My website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
    </head>
    <body>
        <h2>Witam na mojej stronie</h2>
        <img src="https://www.biography.com/.image/t_share/MTQ3NjYxMzk4NjkwNzY4NDkz/muhammad_ali_photo_by_stanley_weston_archive_photos_getty_482857506.jpg" alt="Young Muhammad Ali " title = "Muhammad Ali portait">
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
